@mixin clearfix {
  &::after {
    content: "";
    display: table;
    clear: both;

  }
}

@mixin on-sale {
  &:after {
    content: 'On Sale!';
    position: absolute;
    display: block;
    width: 65px;
    height: 65px;
    padding-top: 18px;
    font-size: 13px;
    font-weight: bold;
    line-height: 25px;
    color: #fff;
    text-transform: uppercase;
    text-align: center;
    background-color: #242424;
    box-sizing: border-box;
    right: 12px;
    top: 0;

  }
}

@mixin out-of-stock {
  &:after {
    content: 'Out of stock';
    position: absolute;
    display: block;
    width: 65px;
    height: 65px;
    padding-top: 16px;
    font-size: 13px;
    font-weight: bold;
    line-height: 15px;
    color: #fff;
    text-transform: uppercase;
    text-align: center;
    background-color: #f27e4b;
    box-sizing: border-box;
    right: 12px;
    top: 0;

  }
}
