.breadcrumbs {
  display: inline-block;
  margin: 0;
  padding: 0;
  font-size: 12px;
  line-height: 25px;
  font-weight: bold;

}

.breadcrumbs li {
  display: inline-block;

}

.breadcrumbs li a {
  color: #bcb5a7;

}
