.catalog-all {
  width: 960px;
  margin: 0 auto;
  padding: 0 10px 10px 10px;
  @include clearfix;

}

.catalog-all__header {
  padding: 15px 0 10px 0;

}


.catalog-all__title {
  display: inline-block;
  margin-right: 20px;
  font-size: 25px;
  line-height: 60px;
  font-weight: lighter;
  color: #3d3c3b;

}

.catalog-all__page-configuration {
  float: right;
  display: flex;
  flex-direction: row;
  align-content: space-between;
  padding: 15px 2px 0 0;

}

.catalog-all__view-title {
  margin: 0 15px 0 0;
  font-size: 14px;
  line-height: 25px;
  font-weight: bold;
  color: #bcb5a7;

}

.catalog-all__view-1 {
  width: 30px;
  height: 30px;
  margin: 0 10px 0 0;
  border: 1px solid #bcb5a7;
  background-image: url("../img/sort-view-1.png");
  background-repeat: no-repeat;
  background-position: 50% 50%;
  font-size: 0;

}

.catalog-all__view-2 {
  width: 30px;
  height: 30px;
  margin: 0 20px 0 0;
  border: 1px solid #bcb5a7;
  background-image: url("../img/sort-view-2.png");
  background-repeat: no-repeat;
  background-position: 50% 50%;
  font-size: 0;

}

.catalog-all__sort {
  width: 200px;
  height: 30px;
  font-size: 14px;
  line-height: 25px;
  font-weight: bold;
  color: #bcb5a7;
  border: 1px solid #bcb5a7;
  background-color: #ebe7df;

}




.catalog-all__products {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: space-between;

}

.catalog-all__products-item {
  position: relative;
  margin-right: 20px;
  margin-bottom: 20px;
  width: 300px;
  height: 270px;
  background-color: #fff;

  &:nth-child(3){
    margin-right: 0;

  }

  &:nth-child(6){
    margin-right: 0;

  }

  &:nth-child(9){
    margin-right: 0;

  }

}

.catalog-all__products-item-link {
  display: block;
  height: 220px;
  background-repeat: no-repeat;

}

.catalog-all__products-item-1 {
  background-image: url("../img/catalog-new-item-1@1x.png");
  background-position: 55% -12px;

}

.catalog-all__products-item-2 {
  background-image: url("../img/catalog-new-item-2@1x.png");
  background-position: 55% -12px;
  @include on-sale;

}

.catalog-all__products-item-3 {
  background-image: url("../img/catalog-new-item-3@1x.png");
  background-position: 55% -12px;

}

.catalog-all__products-item-4 {
  background-image: url("../img/catalog-best-item-1@1x.png");
  background-position: 55% -12px;

}

.catalog-all__products-item-5 {
  background-image: url("../img/catalog-best-item-2@1x.png");
  background-position: 55% -12px;

}

.catalog-all__products-item-6 {
  background-image: url("../img/catalog-best-item-3@1x.png");
  background-position: 55% -12px;
  @include out-of-stock;

}

.catalog-all__products-item-7 {
  background-image: url("../img/catalog-new-item-1@1x.png");
  background-position: 55% -12px;

}

.catalog-all__products-item-8 {
  background-image: url("../img/catalog-new-item-2@1x.png");
  background-position: 55% -12px;
  @include on-sale;

}

.catalog-all__products-item-9 {
  background-image: url("../img/catalog-new-item-3@1x.png");
  background-position: 55% -12px;

}

.catalog-all__products-item-info {
  border-top: 1px solid #ccc;
  height: 50px;

}

.catalog-all__products-item-info-cost {
  position: absolute;
  bottom: 0;
  left: 10px;

}

.catalog-all__products-item-info-name {
  display: block;
  padding: 10px 0 0 90px;
  font-size: 18px;
  font-weight: 600;
  line-height: 25px;
  color: #242424;

}

.catalog-all__products-item-info-buttons {
  position: absolute;
  display: none;

}




.catalog-all__products-item-info a:hover {


}


.catalog-all__products-item-info a:hover .catalog-all__products-item-info-buttons {
  display: block;

}
