.catalog {
  width: 100%;
  background-color: #ebe7df;

}

.catalog__new {
  width: 960px;
  margin: 0 auto;
  padding: 0 10px;

}

.catalog__new-header-wrapper {
  @include clearfix;

}

.catalog__title {
  float: left;
  width: 400px;
  margin: 0;
  padding: 10px 0;
  font-size: 25px;
  line-height: 60px;
  font-weight: lighter;
  color: #3d3c3b;

}

.catalog__show-all {
  float: right;
  width: 100px;
  margin-top: 20px;
  padding: 5px 20px 7px 20px;
  font-size: 14px;
  line-height: 25px;
  font-weight: bold;
  color: #bcb5a7;
  border: 1px solid #bcb5a7;

}

.catalog__new-items {
  display: flex;
  flex-direction: row;
  align-content: space-between;

}

.catalog__new-item {
  position: relative;
  margin-right: 20px;
  width: 300px;
  height: 270px;
  background-color: #fff;

  &:last-child {
    margin-right: 0;

  }

}

.catalog__new-item-link {
  display: block;
  height: 220px;
  background-repeat: no-repeat;

}

.catalog__new-item-1 {
  background-image: url("../img/catalog-new-item-1@1x.png");
  background-position: 55% -12px;

}

.catalog__new-item-2 {
  background-image: url("../img/catalog-new-item-2@1x.png");
  background-position-x: 55%;

}

.catalog__new-item-3 {
  background-image: url("../img/catalog-new-item-3@1x.png");
  background-position: 50% -5px;

}

.catalog__new-item-info {
  border-top: 1px solid #ccc;
  height: 50px;

}

.catalog__new-item-info-cost {
  position: absolute;
  bottom: 0;
  left: 10px;

}

.catalog__new-item-info-name {
  display: block;
  padding: 10px 0 0 90px;
  font-size: 18px;
  font-weight: 500;
  line-height: 25px;
  color: #242424;

}

.catalog__new-item-info-buttons {
  display: none;

}

.catalog__best-sellers {
  width: 960px;
  margin: 0 auto;
  padding: 0 10px;

}

.catalog__best-sellers-header-wrapper {
  @include clearfix;

}

.catalog__best-sellers-items {
  display: flex;
  flex-direction: row;
  align-content: space-between;

}

.catalog__best-sellers-item {
  position: relative;
  margin-right: 20px;
  width: 300px;
  height: 270px;
  background-color: #fff;

  &:last-child {
    margin-right: 0;

  }

}

.catalog__best-sellers-item-link {
  display: block;
  height: 220px;
  background-repeat: no-repeat;

}

.catalog__best-sellers-item-1 {
  background-image: url("../img/catalog-new-item-1@1x.png");
  background-position: 55% -12px;

}

.catalog__best-sellers-item-info {
  border-top: 1px solid #ccc;
  height: 50px;

}

.catalog__best-sellers-item-info-cost {
  position: absolute;
  bottom: 0;
  left: 10px;

}

.catalog__best-sellers-item-info-name {
  display: block;
  padding: 10px 0 0 90px;
  font-size: 18px;
  font-weight: 500;
  line-height: 25px;
  color: #242424;

}

.catalog__best-sellers-item-info-buttons {
  display: none;

}
