.news {
  width: 460px;
  background-color: #dfdbd4;
  padding: 0 15px 30px 15px;

}

.news__title {
  font-size: 14px;
  line-height: 60px;
  font-weight: bold;
  text-transform: uppercase;

}

.news__item {
  @include clearfix;

}

.news__item-date {
  float: left;
  margin: 0 10px 15px 0;
  padding: 6px 8px;
  background-color: #57c5a0;
  font-weight: bold;
  line-height: 12px;
  text-transform: uppercase;
  color: #fff;
  text-align: center;

}

.news__item-date-month {
  display: block;
  font-size: 10px;

}

.news__item-date-number {
  display: block;
  font-size: 13px;

}

.news__item-content {
  line-height: 16px;

}

.news__item-content-title {
  font-size: 14px;
  font-weight: bold;


}

.news__item-content-text {
  margin: 0;
  padding: 0;
  font-size: 12px;

}
