.offers {
  width: 100%;
  background-color: #242424;

}

.offers__items {
  width: 960px;
  height: 230px;
  margin: 0 auto;
  @include clearfix;

}

.offers__item {
  float: left;
  width: 300px;
  height: 180px;
  margin: 25px 10px 25px 10px;
  padding-top: 60px;
  text-align: center;

}

.offers__item--1 {
  background-image: url("../img/offer-1@1x.png");
  background-position-y: -6px;

}

.offers__item--2 {
  background-image: url("../img/offer-2@1x.png");
  background-position: 45% -60px;

}


.offers__item--3 {
  background-image: url("../img/offer-3@1x.png");
  background-position: 85% -5px;

}

.offers__item-link {
  padding: 15px 25px;
  text-align: center;
  font-size: 25px;
  font-weight: lighter;
  line-height: 60px;
  text-transform: uppercase;
  color: #fff;
  background-color: #393939;
  opacity: 0.92;

}
