.page-footer {
  width: 100%;
  height: 90px;
  background-color: #2e2e2e;

}

.page-footer__wrapper {
  display: flex;
  flex-direction: row;
  align-content: space-between;
  width: 960px;
  margin: 0 auto;
  padding: 0 10px;

}

.page-footer__copyright {
  width: 30%;
  padding-top: 25px;

}

.page-footer__copyright-title {
  display: block;
  font-size: 12px;
  line-height: 18px;
  color: #7d7d7d;

}

.page-footer__copyright-link {
  font-size: 12px;
  line-height: 18px;
  color: #7d7d7d;

}

.page-footer__menu-items {
  width: 70%;
  padding: 32px 0 0 340px;
  font-size: 0;
  line-height: 25px;

}

.page-footer__menu-item {
  display: inline-block;
  padding: 0 3px 0 0 ;
  vertical-align: middle;
  font-size: 12px;

}

.page-footer__menu-item:last-child {
  padding-right: 0;

}

.page-footer__menu-item span {
  font-size: 12px;

}

.page-footer__menu-item  a {
  color: #7d7d7d;

}
