.page-main {
  width: 100%;

}

.page-main__promo-wrapper {
  background-image: url("../img/bg-promo@1x.png");
  background-position-y: -105px;

}

.page-main__promo {
  width: 100%;
  min-height: 260px;
  margin: 0 auto;
  background-image: url("../img/promo@1x.png");
  background-repeat: no-repeat;
  background-position: 50% -105px;

}

.page-main__promo-info-wrapper {
  width: 400px;
  margin-left: 1000px;
  @include clearfix;

}

.page-main__promo-cost {
  float: left;
  margin: 55px 20px 0 0;

}

.page-main__promo-title {
  margin: 0;
  padding: 50px 0 10px 0;
  font-size: 40px;
  line-height: 40px;
  font-weight: lighter;
  color: #3d3d3c;

}

.page-main__promo-text {
  margin: 0;
  padding: 0;
  font-size: 20px;
  line-height: 25px;
  font-weight: lighter;
  color: #3d3d3c;
  clear: both;

}

.page-main__promo-product-buttons {
  display: none;

}







.page-main__sort-products {
  width: 100%;
  height: 90px;
  background-color: #2e2e2e;

}

.page-main__sort-products-wrapper {
  width: 960px;
  margin: 0 auto;
  padding: 15px 10px 0 70px;

}

.page-main__sort-products-title {
  margin-right: 85px;
  font-size: 22px;
  font-weight: 500;
  line-height: 25px;
  color: #fff;

}

.page-main__sort-product {
  width: 220px;
  height: 60px;
  margin-right: 20px;
  font-size: 18px;
  font-weight: 400;
  line-height: 25px;
  color: #fff;
  background-color: #242424;
  border: none;

  &:last-child {
    margin-right: 0;

  }

}

.page-main__sort-product--brands {
  padding-left: 80px;

}

.page-main__sort-product--view {
  padding-left: 25px;

  &:hover {
    background-color: #57c5a0;

  }

}

.page-main__sort-product--categories {
  padding-left: 65px;

}

.page-main__sort-product--price {
  padding-left: 87px;

}












.page-main__info {
  display: flex;
  flex-direction: row;
  align-content: space-between;
  width: 960px;
  margin: 0 auto;
  padding: 0;

}

.page-main__info--border {
  width: 940px;
  padding: 25px 0;
  border-top: 1px solid #bcb5a7;

}

.page-main__social {
  width: 100%;
  background-color: #242424;


}

.page-main__social-widgets-wrapper {
  padding: 50px 0 30px 0;
  border-bottom: 1px solid #1c1c1c;

}

.page-main__social-widgets {
  display: flex;
  flex-direction: row;
  align-content: space-between;
  width: 960px;
  margin: 0 auto;
  padding: 0 50px;

}

.page-main__social-networks {
  display: flex;
  flex-direction: row;
  align-content: space-between;
  width: 960px;
  margin: 0 auto;
  padding: 40px 50px 45px 50px;

}
