.product-buttons {
  font-size: 0;

}

.product-button {
  display: inline-block;
  margin-right: 2px;
  width: 40px;
  height: 40px;
  background-color: #fff;

  &:last-child {
    margin-right: 0;

  }

}

.product-button--view {
  background-image: url("../img/eye.png");
  background-repeat: no-repeat;
  background-position: 50% 50%;


}

.product-button--favorite {
  background-image: url("../img/star.png");
  background-repeat: no-repeat;
  background-position: 50% 50%;

}

.product-button--share {
  background-image: url("../img/share.png");
  background-repeat: no-repeat;
  background-position: 50% 50%;

}

.product-button--basket {
  background-image: url("../img/my-cart.png");
  background-repeat: no-repeat;
  background-position: 50% 50%;

}
