.reviews {
  width: 220px;
  background-color: #dfdbd4;
  margin: 0 20px 0 0;
  padding: 0 15px 30px 15px;

}

.reviews__title {
  margin: 0;
  padding: 0;
  font-size: 14px;
  line-height: 60px;
  font-weight: bold;
  text-transform: uppercase;

}

.reviews__quote {
  margin: 0;
  padding: 0;
  font-size: 12px;
  line-height: 16px;

}

.reviews__quote p {
  margin: 0;
  padding: 0;

}

.reviews__author {

}
