.schedule {
  width: 760px;
  margin: 0 auto;
}

.schedule__title {
  margin: 50px 0 0 0;
  text-align: center;
  font-size: 30px;
  font-weight: 500;
}

.schedule__sort {
  display: flex;
  justify-content: space-between;
  margin-top: 40px;
}

.schedule__sort-lecture {
  width: 220px;
  height: 40px;
  background: #dbd2d2;
  border: none;
  border-radius: 5px;

  &:hover {
    opacity: 0.8;
  }

  &:focus {
    outline: none;
  }
}

.schedule--conventions-wrapper {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

.schedule--conventions {
  width: 150px;
  height: 50px;
  text-align: center;
  padding-top: 10px;
  border-radius: 5px;

  &:last-child {
    padding-top: 17px;
  }
}

.schedule--conventions--red {
  background: #ef9594;
}

.schedule--conventions--violet {
  background: #ccb3d6;
}

.schedule--conventions--yellow {
  background: #efee97;
}

.schedule--conventions--gray {
  background: #dbd2d2;
}

.schedule__month--current-month {
  margin: 40px 0 0 0;
  font-size: 25px;
  font-weight: bold;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 2px;
  border-top: 3px #dbd2d2 solid;
}

.schedule__month--current-month span {
  position: relative;
  display: inline-block;
  padding: 0 20px;
  top: -25px;
  background-color: #fff;
}

.schedule__day-wrapper {
  display: flex;
}

.schedule__date {
  width: 47px;
  background: #dbd2d2;
  margin-right: 20px;
  margin-bottom: 15px;
  font-size: 16px;
  font-weight: bold;
}

.schedule__day {
  display: flex;
  flex-wrap: wrap;
}

.schedule__info {
  position: relative;
  width: 220px;
  height: 150px;
  margin-right: 15px;
  margin-bottom: 15px;
  padding: 10px;
  background: #dbd2d2;
  border-radius: 5px;
  box-shadow: 0 2px 17px -3px rgba(0, 0, 0, 0.7);

  &:hover {
    opacity: 0.8;
  }
}

.schedule__info:nth-child(3) {
  margin-right: 0;
}

.schedule__info:nth-child(6) {
  margin-right: 0;
}

.schedule__info:nth-child(9) {
  margin-right: 0;
}

.schedule__info-time {
  display: block;
  float: left;
  font-size: 14px;
  padding-bottom: 5px;

}

.schedule__info-lecture-hall {
  display: block;
  float: right;
  padding-bottom: 5px;
  font-size: 15px;
}

.schedule__info-school {
  display: block;
  clear: both;
  padding-bottom: 5px;
  font-weight: bold;
}

.schedule__info-lecture-name {
  display: block;
  padding-bottom: 5px;

}

.schedule__info-speaker {
  display: block;
  padding-bottom: 5px;
}

.schedule__info--all-school {

}

.schedule__info--interfaces-school {
  background: #ef9594;
}

.schedule__info--mobile-school {
  background: #ccb3d6;
}

.schedule__info--mobile-design-school {
  background: #efee97;
}

.schedule__info--not-completed {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  width: 220px;
  height: 150px;
  padding: 10px;
  background: #000;
  opacity: 0.8;
  color: #fff;
  font-weight: bold;
  border-radius: 5px;
}

.schedule__info--lecture-completed {

  .schedule__info--not-completed {
    display: block;
  }

  &:hover .schedule__info--not-completed {
    opacity: 0.8;
  }
}

.schedule__info--not-completed-speaker {
  display: block;
  padding-top: 25px;
}


@media (max-width: 767px) {
  .schedule {
    width: 320px;
    margin: 0 auto;
  }

  .schedule__title {
    font-size: 35px;
  }

  .schedule__sort {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-top: 40px;
    font-size: 14px;
  }

  .schedule__sort-lecture {
    width: 320px;
    height: 40px;
    margin-bottom: 15px;
  }

  .schedule--conventions-wrapper {
    flex-direction: column;
  }

  .schedule--conventions {
    width: 320px;
    margin-bottom: 15px;
    padding-top: 18px;

    &:last-child {
      margin-bottom: 0;
    }
  }

  .schedule__month--current-month {
    padding: 0;
  }

  .schedule__day-wrapper {
    display: flex;
    flex-direction: column;
  }

  .schedule__date {
    width: 320px;
    height: 50px;
    margin-right: 0;
    margin-bottom: 15px;
    padding-top: 10px;
    text-align: center;
    font-size: 16px;
  }

  .schedule__day {
    display: flex;
    flex-wrap: wrap;
  }

  .schedule__info {
    width: 320px;
    height: 175px;
    margin-right: 0;
  }

  .schedule__info-time {
    font-size: 20px;
    padding-bottom: 15px;
  }

  .schedule__info-lecture-hall {
    font-size: 20px;
    padding-bottom: 15px;
  }

  .schedule__info-school {
    font-size: 14px;
  }

  .schedule__info-lecture-name {
    font-size: 14px;
  }

  .schedule__info-speaker {
    font-size: 14px;
  }

  .schedule__info--not-completed {
    width: 320px;
    height: 175px;
    font-size: 14px;
  }

}
