.slider {
  width: 100%;
  background-image: url("../img/bg-slider@1x.png");
  background-position-y: -42px;

}

.slider__picture {
  height: 460px;
  margin: 0 auto;
  background-image: url("../img/slider@1x.png");
  background-repeat: no-repeat;
  background-position: 23% -105px;

}

.slider__picture-info-wrapper {
  width: 400px;
  margin-left: 1000px;

}

.slider__pagination {
  background-color: #2e2e2e;

}

.slider__pagination-items {
  width: 960px;
  margin: 0 auto;
  padding: 6px 0 0 0;
  font-size: 0;

}

.slider__pagination-item {
  position: relative;
  display: inline-block;
  width: 192px;
  height: 10px;
  padding: 0;
  background-color: #000;
  font-size: 0;

  &::after {
    content: "";
    position: absolute;
    width: 2px;
    height: 6px;
    background-color: #7e7e7e;
    top: 2px;
    right: 0;

  }

  &:last-child::after {
    width: 0;
    height: 0;

  }

}

.slider__pagination-item-link {
  display: inline-block;
  width: 178px;
  height: 6px;
  background-color: #000;
  margin: 2px 6px;

}

.slider__pagination-item-link--active {
  background-color: #57c5a0;

}

.slider__pagination-pages {
  width: 960px;
  margin: 0 auto;
  padding: 0;
  font-size: 0;
  line-height: 25px;
  font-weight: 500;

}

.slider__pagination-page {
  display: inline-block;
  margin: 10px 52px 20px;
  font-size: 18px;
  font-weight: 500;
  text-align: center;

  &:last-child {
    margin-right: 20px;

  }

}

.slider__pagination-page a {
  color: #696969;

}

.slider__pagination-page--active a {
  color: #fff;

}

.slider__pagination-page span {
  display: block;
  font-size: 11px;
  color: #696969;

}

.slider__pagination-page--active span {
  color: #fff;

}
