.social-links {
  width: 50%;
  padding-left: 222px;
  font-size: 0;

}

.social__link {
  display: inline-block;
  margin-right: 8px;
  width: 35px;
  height: 35px;
  background-color: #2e2e2e;

  &:last-child {
    margin-right: 0;

  }

}

.social__link--facebook {
  background-image: url("../img/fb.png");
  background-repeat: no-repeat;
  background-position: 50% 50%;

}

.social__link--twitter {
  background-image: url("../img/tw.png");
  background-repeat: no-repeat;
  background-position: 50% 50%;

}

.social__link--google-plus {
  background-image: url("../img/g+.png");
  background-repeat: no-repeat;
  background-position: 50% 50%;

}

.social__link--instagram {
  background-image: url("../img/in.png");
  background-repeat: no-repeat;
  background-position: 50% 50%;

}

.social__link--flickr {
  background-image: url("../img/flickr.png");
  background-repeat: no-repeat;
  background-position: 50% 50%;

}
